$color-primary-0: #4D1979;	// plum // Main Primary color */
$color-primary-1: #755A88;  // mauve
$color-primary-2: #FFE9FF;  // carnation
$color-primary-3: #61BAAD;  // olympic

$lighten-percent: 40%;
$darken-percent: 40%;

div {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 3px;
    border-radius: 4px;
    box-shadow: 2px 1px 1px lightgray;

// colors from https://mycolor.space/?hex=%234D1979&sub=1

    &.plum{
        background-color: $color-primary-0;
        color: lighten($color-primary-0, $lighten-percent);
    }

    &.mauve{
        background-color: $color-primary-1;
        color: darken($color-primary-1, $darken-percent);
    }

    &.carnation{
        background-color: $color-primary-2;
        color: darken($color-primary-2, $darken-percent);
    }

    &.olympic{
        background-color: $color-primary-3;
        color: darken($color-primary-3, $darken-percent);
    }
}